<div class="container">
    <h1>WeatherAPP</h1>
    <div ng-show="weatherResult" class="teste">
        <h3>{{ weatherResult.name }}, {{ weatherResult.sys.country }}</h3>
        <h1>{{ converteToCelsius(weatherResult.main.temp) }}°C</h1>
        <div class="flex">
            <p>Min: {{ converteToCelsius(weatherResult.main.temp_min) }}°C</p>
            <p>Max: {{ converteToCelsius(weatherResult.main.temp_max) }}°C</p>

        </div>
    </div>

    <div class="column">
        <input type="text" ng-model="city" class="form-control" />
        <button ng-click="updateWeather()" class="btn btn-primary">Search</button>
    </div>
</div>

